@media only screen and (min-width: 300px) and (max-width:600px){
    
    body{
        padding: 1rem;
    }

    .nav-features{
        display: none;
    }

    .nav-features > .special-nav{
        display: inline-block;
    }

    .top-nav{
        padding: 0.5rem;
        width: 100%;
    }

    .nav-banner{
        display: inline-block;
        width: 100%;
    }

    .banner-form-item{
        display: block;
    }

    .popular-tour{
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .destination-img {
        grid-template-areas:
            "img-1"
            "img-2"
            "img-3"
            "img-4"
            "img-5"
            "img-6"
            "img-7"
        ;
    
        gap: 1.2rem;
    }

    .service{
        flex-direction: column;
    }

    .destination{
        width: 100%;
    }

    .choose{
        width: 100%;
    }

    .service-3{
        width: 100%;
    }

    .perfect-place{
        flex-direction: column;
    }

    .deal-discount{
        width: 100%;
    }
    
    .news-letter{
        flex-direction: column;
    }

    .customer-comments{
        grid-template-columns: repeat(1, 1fr);
    }

}