@media only screen and(max-width:576px){
    
    body{
        padding: 1rem;
    }

    /* nav section */

    .nav-features{
        display: none;
    }

    nav > ul > .special{
        display: flex;
    }

    .top-nav{
        padding: 0.5rem;
        width: 100%;
        margin: 0.5rem;
    }

    .nav-banner{
        display: inline-block;
        width: 100%;
        margin: 0.5 rem;
    }

    .banner-form-item{
        display: block;
        margin-bottom: 0.5rem;
    }

    .popular-tour{
        flex-direction: column;
        /* width: 100%; */
        margin: 0.5rem;
    }

    .destination{
        width: 100%;
        margin: auto;
    }

    .destination-img {
        grid-template-areas:
            "img-1 img-1 img-1 img-1"
            "img-2 img-2 img-2 img-2"
            "img-3 img-3 img-3 img-3"
            "img-4 img-4 img-4 img-4"
            "img-5 img-5 img-5 img-5"
            "img-6 img-6 img-6 img-6"
            "img-7 img-7 img-7 img-7"
        ;
    
        gap: 0.5rem;
    }


    .choose{
        /* width: 100%; */
        margin: 0.5rem;
    }

    .service{
        flex-direction: column;
    }

    

    .service-3{
        width: 100%;
    }

    .perfect-place{
        flex-direction: column;
    }

    .deal-discount{
        width: 100%;
    }
    
    .news-letter{
        flex-direction: column;
    }

    .customer-comments{
        grid-template-columns: repeat(1, 1fr);
    }


    .deal-discount{
        width: 100%;
        margin: auto;
    }

    .footer-section{
        padding: 1.5rem 5rem;
    }

}