/* all body */

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}



/* header-section  */
.header-top {
    font-family: 'Merriweather', serif;

    background-image: url("resources/Banner\ Image.png");
    background-repeat: no-repeat;
    background-size: contain;

    max-width: 82.5%;
    max-height: 83.33%;
    margin: 50px auto 0px;


}

.banner {
    color: white;
    text-align: center;
    padding: 100px;

}

.banner-heading {
    font-size: 32px;
    font-weight: 400;
}

.white-heading {
    color: #FFF;
    font-size: 50px;
    font-weight: 900;
}

/* main section */
.category {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;

}

.cata-head {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    margin-bottom: 0px;
}

.cata-sub-head {
    color: #F00;
}

.black-heading {
    color: #070211;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 7
}

/* welcome-midnight */
.welcome-mid {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    display: flex;
    max-width: 82.3%;
    margin: 120px auto 40px;
}

.mid-half {
    padding: 126px;
    width: 50%;
}

p {
    white-space: normal;
}

.mid-img {
    position: absolute;
    right: 138px;
    padding-top: 68px;
}

/* place hotel */
.place-hotel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.place-hotel>p {
    line-height: 4px;
    font-weight: 600;
    text-transform: capitalize;
}

/* comming soon */

.comming-soon {
    display: flex;
    gap: 30px;
    max-width: 82.3%;
    margin: 0 auto 120px;

}

.comming-half {
    width: 33.33%;
}

/* holiday-sales */



.holiday-sale {
    position: relative;
    max-width: 83.2%;
    margin: 0 auto 120px;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.flower-img {
    /* position: absolute;
    bottom: 0px;
    z-index: 0; */
    z-index: 1;
    position: absolute;
    bottom: 30px;
    box-shadow: none;
}

.discoung-img {
    position: absolute;
    left: 1200px;
    bottom: 0px;
    z-index: 2;
}

/* best gift : awesome-portfolio */

.best-gift {
    display: flex;
    flex-direction: column;
    max-width: 83.2%;
    margin: 0 auto 120px;
}

.gift-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

/* newsletter */


.news-letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 83.2%;
    margin: 0 auto 120px;
}

.news-article {
    text-align: center;
}

.newsletter-button {
    display: flex;
}

input[type="email"] {
    border-radius: 50px 0 0 50px;
    padding: 10px 20px;
}

input[type="submit"] {
    border-radius: 0 50px 50px 0;
    padding: 10px 20px;
    color: white;
    background-color: #F00;
}


/* footer section */

footer{
    background-color: #070211;
    color: white;
}

.footer-address {
    display: flex;
    justify-content: space-around;
}

.footer-social {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.footer-rule {
    display: flex;
    justify-content: space-around;
}