/* google fonts */

@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');

/* common styles */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;

}


body {
    min-width: 992px;
    background-color: #FFF;
}

:root {
    --primary-color: #FF5400;
}

.primary-heading {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
}

.secondary-heading {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding: 2rem 0 0.5rem;
}

p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

/* header section */

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 81%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.nav-title>h3 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
}

.nav-heading {
    color: var(--primary-color);
}

.nav-features {
    display: flex;
}

.nav-features>li {
    list-style: none;
    margin-left: 2.8rem;
}

.nav-features>li a {
    text-decoration: none;
    color: #424247;
    font-size: 1.1rem;
    font-weight: 700;
}

li>a.special-link {
    color: var(--primary-color);
    font-weight: 700;
}


/* nav banner section */

.nav-banner {
    border-radius: 1rem;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("images/nav-banner.png") no-repeat;
    width: 81%;
    margin: 0 auto;
    display: block;
    text-align: center;

    padding: 6.25rem;

}

.banner-title>p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 1.5rem;
    padding-bottom: 3rem;
}

.banner-title>.banner-heading {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
}

.banner-form-item {
    border-radius: 0.5rem;
    background: rgba(255, 255, 255, 0.30);
    padding: 1rem;
    display: inline-flex;
    gap: 1.5rem;
}

.banner-form-item>input,
button {
    color: rgba(19, 19, 24, 0.50);
    font-size: 1rem;
    font-weight: 400;
    width: 174px;
    height: 52px;
    border-radius: 0.5rem;
    background: #FFF;
    text-align: left;
    padding-left: 1rem;
    border: 0;
}

.btn-primary {
    border-radius: 0.5;
    background: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.8rem;
    border: 0;
}

/* popular tour section */

.popular-tour {
    display: flex;
    max-width: 81%;
    margin: 6.25rem auto;
    gap: 3rem;
}

.popular-tour-description {
    text-align: left;
}

.popular-tour-description>p {
    margin: 1.5rem 0;
}

.popular-tour-description>ul>li {
    list-style-position: inside;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
}

/* destination section */

.destination-img>div>img {
    height: 100%;
    width: 100%;
}

.destination {
    max-width: 81%;
    margin: 0 auto 6.25rem;
    display: flex;
    flex-direction: column;
}

.destination-article {
    text-align: center;
}

.destination-article>p {
    padding: 1.5rem 0 3rem;
}

#img-1 {
    grid-area: img-1;
}

#img-2 {
    grid-area: img-2;
}

#img-3 {
    grid-area: img-3;
}

#img-4 {
    grid-area: img-4;
}

#img-5 {
    grid-area: img-5;
}

#img-6 {
    grid-area: img-6;
}

#img-7 {
    grid-area: img-7;
}

.destination-img {
    display: grid;
    grid-template-areas:
        "img-1 img-1 img-2 img-2"
        "img-3 img-4 img-4 img-5"
        "img-6 img-7 img-7 img-7"
    ;

    gap: 1.2rem;
}

.destination-img>div {
    position: relative;
}

.destination-img>div>h2 {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* text-align: center; */

    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
}


/* choose-section */

.choose {
    max-width: 81%;
    margin: 0 auto 6.25rem;
    display: flex;
    flex-direction: column;
}

.choose-description {
    text-align: center;
}

.choose-description>p {
    padding: 1.5rem 0 3rem;
}

.choose-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.service {
    display: flex;
    gap: 1.5rem;
}

.common-style {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 2rem;
}

.service-2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.service-3 {
    width: 50%;
}


/* Deal & Discount sections */

.deal-discount {
    width: 81%;
    /* height: 112.5rem; */
    margin: 0 auto 5.5rem;


    /* overflow-y: scroll; */

}

.deal-discount-desc {
    text-align: center;
}

.deal-discount-desc>p {
    padding: 1.5rem 0 3rem;
}


.deal-discount-price {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    /* height: 31.25rem; */
    gap: 1.5rem;

}

.tour-place-section {
    background: url("images/Rectangle\ 12.png") no-repeat;
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3.2rem;
}

.special-deal-style {
    justify-content: flex-start;
}

.tour-card {

    width: 579px;
    /* height: 389px; */
    border-radius: 1rem;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 3.2rem;

}

.tour-address>div {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.tour-address {
    display: flex;
    justify-content: space-between;
}

.tour-para {
    margin-bottom: 1rem;
}

.tour-card>div>.tour-price {
    margin-bottom: 1.5rem;
}

.button {
    margin-top: 1.5rem;
    display: block;
    text-align: center;
}

/* perfect place article */

.perfect-place {
    width: 81%;
    margin: 0 auto 6.25rem;
    display: flex;
    gap: 1.6rem;
}

.perfect-place img {
    width: 100%;
    height: 100%;
}

.perfect-place-article>p {
    margin-top: 1.5rem;
}

.perfect-place-article>ul>li {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    list-style-position: inside;
}

/* newsletter-section */

.news-letter {
    width: 81%;
    margin: 0 auto 6.25rem;
    display: flex;
    justify-content: space-between;
}

.newsletter-article {
    padding: 2.4rem;
    height: 100%;
}

.newsletter-article>p {
    margin-top: 0.4rem;
    margin-bottom: 3rem;
}

.newsletter-article>form input {
    display: flex;
    width: 100%;
    padding: 1rem;
    border: 0;
    border-radius: 0.5rem;
    background: rgba(19, 19, 24, 0.05);
    /* width: 24.26rem; */
}

.newsletter-article>form>.btn-newsletter {
    color: #FFF;
    background-color: var(--primary-color);
    display: block;
    text-align: center;
}

.newsletter-img {
    position: relative;
}

.newsletter-img > img{
    width: 100%;
    height: 100%;
}

.newsletter-img-special>p,
h2 {
    color: #FFF;
}

.newsletter-img-special> h2{
    font-size: 32px;
    font-weight: 800;
}

.newsletter-img-special {

    background-color: var(--primary-color);
    text-align: center;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem;
    width: 20rem;
    position: absolute;
    bottom: 3.2rem;
    right: 0.3rem;
    border-radius: 0.5rem;
    transform: rotate(-19.628deg);


}


/* customer-review */

.customer-review{
    width: 81%;
    margin: 0 auto 6.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.customer-review > h2{
    text-align: center;
}
.customer-comments{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.3rem;
    padding-top: 2.5rem;
}

.customer-comments > .comment-box{
    border: 1px solid grey;
    padding: 1.5rem;
}


.fa-star, .fa-star-half-stroke{
    color: red;
}

.review-star{
    display: flex;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.8rem;
}

.comment-box > h4{
    padding: 0 0 0.2rem 0;
    color: orange;
}
.review-star > p{
    font-weight: bold;
}
.comment-box > p{
    text-align: justify;
}

.comment-box > img{
    width: 100%;
}
/* footer section */

.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
    background: rgba(19, 19, 24, 0.05);
    padding: 6.87rem 14.5rem;
}

.footer-section > .top-nav{
    padding-bottom: 1rem;

}

.footer-section > div > .footer-description{
    margin-bottom: 1.5rem;
}

.font-awesome{
    display: flex;
    gap: 1.2rem;
    padding-bottom: 3.1rem;
}

.footer-section > div > .footer-copyright{
    padding-top: 3.1rem;
}

hr{
    border: 1px solid #1313181A;
    width: 55rem;
}

